{
  "port": 8080,
  "title": "Home Lab Control Center",
  "services": {
    "portainer": {
      "url": "https://portainer.mydomain.com",
      "name": "Portainer"
    },
    "grafana": {
      "url": "https://grafana.mydomain.com",
      "name": "Grafana"
    },
    "prometheus": {
      "url": "https://prometheus.mydomain.com",
      "name": "Prometheus"
    },
    "nextcloud": {
      "url": "https://nextcloud.mydomain.com",
      "name": "NextCloud"
    },
    "home-assistant": {
      "url": "https://homeassistant.mydomain.com",
      "name": "Home Assistant"
    },
    "pihole": {
      "url": "https://pihole.mydomain.com",
      "name": "Pi-hole"
    },
    "jellyfin": {
      "url": "https://jellyfin.mydomain.com",
      "name": "Jellyfin"
    },
    "sonarr": {
      "url": "https://sonarr.mydomain.com",
      "name": "Sonarr"
    },
    "radarr": {
      "url": "https://radarr.mydomain.com",
      "name": "Radarr"
    },
    "cloud-radarr": {
      "url": "http://cloud-radarr.local",
      "name": "Radarr (local)"
    },
    "transmission": {
      "url": "https://transmission.mydomain.com",
      "name": "Transmission"
    },
    "nginx-proxy-manager": {
      "url": "https://nginx.mydomain.com",
      "name": "Nginx Proxy Manager"
    }
  }
}
